[Unit]
Description=HW09 Events

[Service]
Type=simple
User=hw09
Group=hw09
Restart=on-failure
Environment=MIX_ENV=prod
Environment=PORT=4900
Environment=PROD=true
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/hw09/cs4550-hw09
ExecStart=/bin/bash /home/hw09/cs4550-hw09/start.sh

[Install]
WantedBy=multi-user.target